@keyframes slideInAndOut {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-in-out {
  animation: slideInAndOut 3s ease-in-out forwards;
}

.toast {
  position: fixed;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.slide-in-out {
  animation: slideInAndOut 3s ease-in-out forwards;
}
