---
import { type Locale } from "@/utils/get-locale";

const serverLocale =
  (Astro.request.headers
    .get("accept-language")
    ?.split(",")[0]
    ?.split("-")[0] as keyof Locale) || "en";

import Main from "@/components/layout/Main.astro";

import LeftArrow from "@/assets/LeftArrow.astro";
const { default: ToS } = await import(
  `../components/tos/ToS.${serverLocale}.mdx`
);
---

<style is:global>
  @media (max-width: 1280px) {
    h1 {
      font-size: 18px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    h2 {
      font-size: 16px;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
    p,
    ul,
    ol {
      font-size: 14px;
    }
  }
  @media (min-width: 1280px) {
    h1 {
      font-size: 30px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    h2 {
      font-size: 20px;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }
    p,
    ul,
    ol {
      font-size: 16px;
    }
  }

  ul,
  ol {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 10px;
  }
</style>
<Main locale={serverLocale}>
  <div class="flex justify-center">
    <div
      class="max-w-[90%] text-pretendard xl:text-balance hyphens-auto gap-x-3"
    >
      <ToS />
    </div>
  </div>
  <a href="/" class="my-6">
    <LeftArrow />
  </a>
</Main>
<script>
  import { getLocale } from "@/utils/get-locale";

  const layout = document.querySelector("html");
  if (layout) {
    layout.lang = getLocale();
  }
</script>
