---
import { getLocale } from "@/utils/get-locale";
const locale = getLocale();

import Main from "@/components/layout/Main.astro";

import LeftArrow from "@/assets/LeftArrow.astro";
const { default: ToS } = await import(`../components/tos/ToS.${locale}.mdx`);
---

<style is:global>
  @media (max-width: 1280px) {
    h1 {
      font-size: 18px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  @media (min-width: 1280px) {
    h1 {
      font-size: 30px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }
  h2 {
    font-size: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  ol {
    padding-left: 1rem;
    list-style-type: decimal;
    margin-left: 1rem;
  }

  ol li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
  }
</style>
<Main locale={locale}>
  <div
    class="max-w-[90%] ml-[5%] text-geist xl:text-balance hyphens-auto gap-x-3"
  >
    <ToS />
  </div>
  <a href="/" class="my-6">
    <LeftArrow />
  </a>
</Main>
