---
import { Image } from "astro:assets";

import { localizedPageTitle } from "@/i18n/layouts/PageTitle.i18n";

import { getLocale } from "@/utils/get-locale";
const locale = getLocale();
---

<div class="flex items-center justify-center gap-x-6 select-none">
  <Image
    src="/favicon/favicon.white.webp"
    height={100}
    width={100}
    alt="JFA Icon"
    id="themeIcon"
  />
  <h1 class="text-geist font-bold text-3xl">{localizedPageTitle[locale]}</h1>
</div>
