---
import TextInput from "./link-input/TextInput.astro";
import SubmitButton from "./link-input/SubmitButton.astro";
---

<div class="grid gap-y-3 relative" id="submit-link-section">
  <TextInput />
  <SubmitButton />
</div>
