---
import "@/styles/keyframes.css";
interface Props {
  toastContainerID: string;
  toastMessage: string;
}

const { toastContainerID, toastMessage } = Astro.props;
---

<div id={toastContainerID} class="fixed invisible top-3">
  <div class="flex justify-center">
    <div
      class="font-light px-3 py-2 border border-solid border-bwhite dark:border-bblack rounded-xl flex justify-evenly items-center"
    >
      <div class="pr-3">
        <slot />
      </div>
      <p class="text-geist">
        {toastMessage}
      </p>
    </div>
  </div>
</div>
