---
import "@/styles/keyframes.css";
interface Props {
  toastContainerID: string;
  toastMessage: string;
}

const { toastContainerID, toastMessage } = Astro.props;
---

<div
  id={toastContainerID}
  class="flex justify-center absolute invisible top-3 xl:right-12 right-3"
>
  <div
    class="font-light px-3 py-2 border border-solid border-bwhite dark:border-bblack rounded-xl flex justify-evenly items-center"
  >
    <div class="pr-3">
      <slot />
    </div>
    <p class="text-geist max-xl:text-sm xl:text-base 2xl:text-xl">
      {toastMessage}
    </p>
  </div>
</div>
