---
interface Props {
  toastContainerID: string;
  toastMessage: string;
}

const { toastContainerID, toastMessage } = Astro.props;
---

<div id={toastContainerID} class="flex justify-center invisible">
  <div
    class="font-light p-3 border border-solid border-bwhite dark:border-bblack rounded-xl flex justify-evenly items-center mt-3"
  >
    <div class="dark:invert pr-3">
      <slot />
    </div>
    <p class="text-geist">{toastMessage}</p>
  </div>
</div>
