---
import Master from "@/layouts/Master.astro"
import Main from "@/components/layout/Main.astro"
import PageTitle from "@/components/PageTitle.astro"
import SubmitLink from "@/components/SubmitLink.astro"
---

<Master>
  <Main>
    <div class="grid justify-center gap-y-6">
      <PageTitle/>
      <SubmitLink/>
    </div>
  </Main>
</Master>