---
import type { Locale } from "@/utils/get-locale";

import Master from "@/layouts/Master.astro";

interface Props {
  locale: keyof Locale;
}

const { locale } = Astro.props;
const currentYear = new Date().getFullYear();
---

<Master locale={locale}>
  <div class="grid grid-cols-2 gap-x-3">
    <div class="flex justify-center items-center">
      <p class="text-geist">Jorge Fernando Álava &copy;&nbsp;</p>
      <p class="text-geist">{currentYear}</p>
    </div>
    <a href="/tos"><p class="text-geist">ToS</p></a>
  </div>
</Master>
