---

---

<div class="sr-only">
  <div
    class="p-4 border border-bwhite dark:border-bblack rounded-xl bg-white dark:bg-black"
  >
    <div class="flex justify-between items-center">
      <div class="flex-1 overflow-hidden">
        <div class="flex items-center pb-1">
          <div class="pr-1 select-none cursor-pointer copy-button">
            <svg></svg>
          </div>
          <a class="text-blue-500 no-underline block hover:underline"></a>
        </div>
        <div class="flex items-center">
          <div class="pr-1 select-none">
            <svg></svg>
          </div>
          <div
            class="text-sm overflow-hidden text-ellipsis whitespace-nowrap select-none text-mono"
          >
          </div>
        </div>
      </div>
      <div class="text-xs ml-2 whitespace-nowrap select-none"></div>
      <button
        class="ml-2 text-red-600 cursor-pointer bg-none border-none p-0 hover:text-red-500"
      >
        <svg></svg>
      </button>
    </div>
  </div>
</div>
