---
import type { Locale } from "@/utils/get-locale";
import { localizedLinkHistory } from "@/i18n/components/LinkHistory.i18n";

import History from "@/assets/History.astro";

interface Props {
  locale: keyof Locale;
}

const { locale } = Astro.props;
---

<div
  id="history-section"
  class="my-8 max-w-[clamp(300px,50vw,800px)]"
  data-locale={locale}
>
  <div class="flex items-center mb-4 select-none">
    <History />
    <h2 class="text-xl text-pretendard font-medium pl-3">
      {localizedLinkHistory[locale]}
    </h2>
  </div>
  <div id="history-list" class="space-y-4 text-pretendard"></div>
</div>

<script>
  import type { Locale } from "@/utils/get-locale";
  import {
    renderHistory,
    deleteEntry,
  } from "@/utils/link-utils/render-history";

  const historySection = document.getElementById("history-section");
  const locale = historySection?.dataset.locale;

  (window as { deleteEntry?: (key: string) => void }).deleteEntry = deleteEntry;

  document.addEventListener("DOMContentLoaded", () =>
    renderHistory(locale as keyof Locale),
  );
  window.addEventListener("storage", () =>
    renderHistory(locale as keyof Locale),
  );
</script>
